﻿@model SystemRepairWeb.Models.RepairSparePart
@{
    ViewData["Title"] = "Добавить запчасть";
}

<h2>Добавить к ремонту</h2>

<h4>Запчасть</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Repairs" asp-action="AddSparePart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RepairID" class="control-label">Ремонт</label>
                <select asp-for="RepairID" class="form-control" asp-items="ViewBag.RepairID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SparePartID" class="control-label">Запчасть</label>
                <select asp-for="SparePartID" class="form-control" asp-items="ViewBag.SparePartID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-info" asp-action="Details">К ремонту</a>
</div>