﻿@model SystemRepairWeb.Models.Repair

@{
    ViewData["Title"] = "Добавить ремонт";
}

<h2>Добавить</h2>

<h4>Ремонт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label">Дата начала</label>
                <input asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFinish" class="control-label">Дата окончания</label>
                <input asp-for="DateFinish" class="form-control" />
                <span asp-validation-for="DateFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineID" class="control-label">Оборудование</label>
                <select asp-for="MachineID" class ="form-control" asp-items="ViewBag.MachineID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfRepairID" class="control-label">Тип ремонта</label>
                <select asp-for="TypeOfRepairID" class ="form-control" asp-items="ViewBag.TypeOfRepairID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label">Описание</label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>

