﻿@model SystemRepairWeb.Models.Repair

@{
    ViewData["Title"] = "Удалить ремонт";
}

<h2>Удаление</h2>

<h3>Подтверждаете удаление?</h3>
<div>
    <h4>Ремонт</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата начала
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt>
           Дата окончания
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFinish)
        </dd>
        <dt>
            Оборудование
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Machine.MachineID)
        </dd>
        <dt>
            Тип ремонта
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt>
            Описание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RepairID" />
        <input class="btn btn-danger" type="submit" value="Удалить"/> |
        <a class="btn btn-default" asp-action="Index">К общему списку</a>
    </form>
</div>
