﻿@model SystemRepairWeb.Models.Repair

@{
    ViewData["Title"] = "Ремонт";
}

<h2>Информация</h2>

<div>
    <h4>Ремонт</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата начала
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt>
            Дата окончания
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFinish)
        </dd>
        <dt>
            Оборудование
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Machine.NameNumber)
        </dd>
        <dt>
            Тип ремонта
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt>
            Описание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dd>
            <a asp-controller="Repairs" asp-action="AddSparePart" asp-route-id="@Model.RepairID">Добавить запчасть</a>
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название
                </th>

                <th>
                    <!--<input type="hidden" asp-for="RepairID" />-->
                    
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.SpareParts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SparePart.Name)
                </td>
                <td>
                     |
                    <a asp-controller="SpareParts" class="btn btn-info" asp-action="Details" asp-route-id="@item.SparePart.SparePartID">Подробнее</a> |
                    <!--<a asp-controller="Repairs" asp-action="DeleteSparePart" asp-route-id="@item.SparePart.SparePartID">Удалить</a>-->
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.RepairID">Изменить</a> |
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>
