﻿@model SystemRepairWeb.Models.RepairTypeViewModel

@{
    ViewData["Title"] = "Ремонты";
}

<h2>Ремонты</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Добавить новый</a>
</p>
<form asp-controller="Repairs" asp-action="Index">
    <p>
        Поиск: <input type="text" name="SearchString">
        Тип: <select asp-for="TypeOfRepair" asp-items="Model.Types">
            <option value="">Все</option>
        </select>
        Цех: <select asp-for="Workshop" asp-items="Model.Workshops">
            <option value="">Все</option>
        </select>

        Начало: <input type="date" name="startDate" placeholder="С" />
        Окончание: <input type="date" name="endDate" placeholder="До" />
        <!--<div class="form-group">
                    <label class="control-label">Дата начала</label>
                    class="form-control"
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Дата окончания</label>
    class="form-control"
                    <span class="text-danger"></span>
                </div>-->


        <input type="submit" value="Найти" />
    </p>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Дата начала
                    </th>
                    <th>
                        Дата окончания
                    </th>
                    <th>
                        Оборудование
                    </th>
                    <th>
                        Тип ремонта
                    </th>
                    <th>
                        Описание
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Repairs) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateFinish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Machine.NameNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RepairID">Изменить</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.RepairID">Подробнее</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RepairID">Удалить</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
