﻿@model SystemRepairWeb.Models.SparePart

@{
    ViewData["Title"] = "Запчасть";
}

<h2>Информация</h2>

<div>
    <h4>Запчасть</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.SparePartID">Изменить</a> |
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>
