﻿@model SystemRepairWeb.Models.GroupOfMachine

@{
    ViewData["Title"] = "Удалить группу";
}

<h2>Удалить</h2>

<h3>Подтверждаете удаление?</h3>
<div>
    <h4>Группа оборудования</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sort.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GroupOfMachineID" />
        <input class="btn btn-danger" type="submit" value="Удалить"/> |
        <a class="btn btn-default" asp-action="Index">К общему списку</a>
    </form>
</div>
