﻿@model SystemRepairWeb.Models.GroupOfMachine

@{
    ViewData["Title"] = "Группа оборудования";
}

<h2>Информация</h2>

<div>
    <h4>Группа оборудования</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sort.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.GroupOfMachineID">Изменить</a> |
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>
