﻿@model IEnumerable<SystemRepairWeb.Models.GroupOfMachine>

@{
    ViewData["Title"] = "Группы оборудования";
}

<h2>Группы оборудования</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Добавить новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Вид
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sort.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.GroupOfMachineID">Изменить</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.GroupOfMachineID">Подробнее</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.GroupOfMachineID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
