﻿@model IEnumerable<SystemRepairWeb.Models.Workshop>

@{
    ViewData["Title"] = "Цехи";
}

<h2>Цехи</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер цеха
            </th>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.WorkshopID">Изменить</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.WorkshopID">Подробнее</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.WorkshopID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
