﻿@model SystemRepairWeb.Models.CycleOfRepair

@{
    ViewData["Title"] = "Create";
}

<h2>Добавить</h2>

<h4>CycleOfRepair</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupOfMachineID" class="control-label"></label>
                <select asp-for="GroupOfMachineID" class ="form-control" asp-items="ViewBag.GroupOfMachineID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>

