﻿@model SystemRepairWeb.Models.CycleOfRepair

@{
    ViewData["Title"] = "Details";
}

<h2>Информация</h2>

<div>
    <h4>CycleOfRepair</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Группа
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CycleOfRepairID">Edit</a> |
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>
