﻿@model IEnumerable<SystemRepairWeb.Models.CycleOfRepair>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Группа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CycleOfRepairID">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CycleOfRepairID">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CycleOfRepairID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
