﻿@model SystemRepairWeb.Models.Oil

@{
    ViewData["Title"] = "Удалить масло";
}

<h2>Удаление</h2>

<h3>Подтверждаете удаление?</h3>
<div>
    <h4>Масло</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название <!--@Html.DisplayNameFor(model => model.Name)-->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OilID" />
        <input class="btn btn-danger" type="submit" value="Удалить"/> |
        <a class="btn btn-default" asp-action="Index">К общему списку</a>
    </form>
</div>
