﻿@model SystemRepairWeb.Models.Oil

@{
    ViewData["Title"] = "Масло";
}

<h2>Информация</h2>

<div>
    <h4>Масло</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.OilID">Изменить</a> |
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>
