﻿@model IEnumerable<SystemRepairWeb.Models.Oil>

@{
    ViewData["Title"] = "Масла";
}

<h2>Масла</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Добавить новое</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.OilID">Изменить</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.OilID">Подробнее</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.OilID">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
