﻿@model SystemRepairWeb.Models.Machine

@{
    ViewData["Title"] = "Удалить оборудование";
}

<h2>Удалить</h2>

<h3>Подтверждаете удаление?</h3>
<div>
    <h4>Экземпляр оборудования</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workshop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workshop.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MachineID" />
        <input class="btn btn-danger" type="submit" value="Удалить"/> |
        <a class="btn btn-default" asp-action="Index">К общему списку</a>
    </form>
</div>
