﻿@using System.Linq
@model SystemRepairWeb.Models.Machine

@{
    ViewData["Title"] = "Оборудование";
}

<h2>Информация</h2>

<div>
    <h4>Экземпляр оборудования</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Модель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Name)
        </dd>
        <dt>
            Цех
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workshop.WorkshopNameNumber)
        </dd>
        <dt>
            Инвентарный номер
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryNumber)
        </dd>
        <dt>
            Дата ввода в эксплуатацию
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dd>
            <a asp-controller="Repairs" asp-action="Create">Добавить новый</a>
        </dd>
        <dd>
            <a class="btn btn-primary" asp-controller="Machines" asp-action="Generate" asp-route-id="@Model.MachineID">Создать график</a>
        </dd>
    </dl>
        <table class="table">
            <thead>
                <tr>
                    <th>
                       Дата начала
                    </th>
                    <th>
                        Дата окончания
                    </th>
                    <th>
                        Тип ремонта
                    </th>
                    <th>
                        Описание
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Repairs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateFinish)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Type.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            <a asp-controller="Repairs" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RepairID">Изменить</a> |
                            <a asp-controller="Repairs" class="btn btn-info" asp-action="Details" asp-route-id="@item.RepairID">Подробнее</a> |
                            <a asp-controller="Repairs" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RepairID">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.MachineID">Изменить</a> |
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>
