﻿@model SystemRepairWeb.Models.Machine

@{
    ViewData["Title"] = "Изменить оборудование";
}

<h2>Редактирование</h2>

<h4>Экземпляр оборудования</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MachineID" />
            <div class="form-group">
                <label asp-for="ModelOfMachineID" class="control-label">Модель</label>
                <select asp-for="ModelOfMachineID" class="form-control" asp-items="ViewBag.ModelOfMachineID"></select>
                <span asp-validation-for="ModelOfMachineID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkshopID" class="control-label">Цех</label>
                <select asp-for="WorkshopID" class="form-control" asp-items="ViewBag.WorkshopID"></select>
                <span asp-validation-for="WorkshopID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryNumber" class="control-label">Инвентарный номер</label>
                <input asp-for="InventoryNumber" class="form-control" />
                <span asp-validation-for="InventoryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label">Дата ввода в эксплуатацию</label>
                <input asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>

