﻿@model SystemRepairWeb.Models.Machine
@{
    ViewData["Title"] = "Генерация графика";
}

<h2>Генерация</h2>

<h4>График ремонтов</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Generate">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="MachineID" />
            <div class="form-group">
                <label class="control-label">Дата начала</label>
                <input type="date" name="start" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Дата окончания</label>
                <input type="date" name="finish" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-info" asp-action="Details">К экземпляру</a>
</div>