﻿@model IEnumerable<SystemRepairWeb.Models.Machine>

@{
    ViewData["Title"] = "Оборудование";
}

<h2>Экземпляры оборудования</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Добавить новый</a>
</p>
<form asp-controller="Machines" asp-action="Index">
    <p>
        Поиск: <input type="text" name="SearchString">
        
        <select size="1" name="RepairControl">
            <option disabled>Наличие ремонтов</option>
            <option value="Все">Все</option>
            <option value="Нет">Нет ремонтов</option>
            <option value="Есть">Есть ремонты</option>
        </select>
        <input type="submit" value="Найти" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ModelSortParm"]">
                    Модель
                </a>
            </th>
            <th>
                Цех
            </th>
            <th>
                Инвентарный номер
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                    Дата ввода в эксплуатацию
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.WorkshopNameNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.MachineID">Изменить</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MachineID">Подробнее</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MachineID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
