﻿@model SystemRepairWeb.Models.MonthlyAllotment

@{
    ViewData["Title"] = "Удалить месяц";
}

<h2>Удаление</h2>

<h3>Подтверждаете удаление?</h3>
<div>
    <h4>MonthlyAllotment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Месяц
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Месячная ремонтосложность
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyRepairability)
        </dd>
        <dt>
            Рабочие дни
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkDays)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MonthlyAllotmentID" />
        <input class="btn btn-danger" type="submit" value="Удалить"/> |
        <a class="btn btn-default" asp-action="Index">К общему списку</a>
    </form>
</div>
