﻿@model SystemRepairWeb.Models.MonthlyAllotment

@{
    ViewData["Title"] = "Месяц графика";
}

<h2>Информация</h2>

<div>
    <h4>Месяц календарного графика</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Месяц
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Месячная 
            ремонтосложность
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyRepairability)
        </dd>
        <dt>
            Фактическая 
            месячная 
            ремонтосложность
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RealMonthRepairability)
        </dd>
        <dt>
            Рабочих дней
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkDays)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Дата начала
                </th>
                <th>
                    Дата окончания
                </th>
                <th>
                    Оборудование
                </th>
                <th>
                    Цех
                </th>
                <th>
                    Тип ремонта
                </th>
                <th>
                    Описание
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Repairs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Machine.NameNumber)
                </td>     
                <td>
                    @Html.DisplayFor(modelItem=>item.Machine.Workshop.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <a asp-controller="Repairs" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RepairID">Изменить</a> |
                    <a asp-controller="Repairs" class="btn btn-info" asp-action="Details" asp-route-id="@item.RepairID">Подробнее</a> |
                    <a asp-controller="Repairs" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RepairID">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.MonthlyAllotmentID">Изменить</a> |
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>
