﻿@model SystemRepairWeb.Models.MonthlyAllotment

@{
    ViewData["Title"] = "Изменить месяц";
}

<h2>Редактирование</h2>

<h4>Месяц календарного графика</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MonthlyAllotmentID" />
            <div class="form-group">
                <label asp-for="Month" class="control-label">Месяц</label>
                <input asp-for="Month" type="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyRepairability" class="control-label">Месячная ремонтосложность</label>
                <input asp-for="MonthlyRepairability" class="form-control" />
                <span asp-validation-for="MonthlyRepairability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDays" class="control-label">Рабочие дни</label>
                <input asp-for="WorkDays" class="form-control" />
                <span asp-validation-for="WorkDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>

