﻿@model IEnumerable<SystemRepairWeb.Models.MonthlyAllotment>

@{
    ViewData["Title"] = "Календарный график";
}

<h2>Календарный график</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Добавить месяц</a>
    <a class="btn btn-primary" asp-action="SelectYear">Расчитать ремонтосложность</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Месяц
            </th>
            <th>
                Месячная ремонтосложность
            </th>
            <th>
                Фактическая 
                ремонтосложность
            </th>
            <th>
                Рабочие дни
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyRepairability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealMonthRepairability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDays)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.MonthlyAllotmentID">Изменить</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MonthlyAllotmentID">Подробнее</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MonthlyAllotmentID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
