﻿
@{
    ViewData["Title"] = "Выбор года";
}

<h2>Выбор года</h2>

<h4>Расчет месячной ремонтосложности</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectYear">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Дата начала</label>
                <input type="month" format="yyyy" name="year" class="form-control" />
                <span class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>

