﻿@model SystemRepairWeb.Models.TypeOfMachine

@{
    ViewData["Title"] = "Тип оборудования";
}

<h2>Информация</h2>

<div>
    <h4>Тип оборудования</h4>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.TypeOfMachineID">Изменить</a>

    <!--TODO: добавить определение типа добавляемой модели автоматически через маршрут-->
    <a class="btn btn-danger" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.TypeOfMachineID">Удалить</a>
    <a class="btn btn-success" asp-controller="ModelOfMachines" asp-action="Create">Добавить модель</a>
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Группа
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Модель
                </th>
                <th>
                    Тип
                </th>
                <th>
                    Модель ЧПУ
                </th>
                <th>
                    Ремонтосложность
                </th>
                <th>
                    Страна-изготовитель
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Models)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelCNC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Repairability)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        <a asp-controller="ModelOfMachines" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ModelOfMachineID">Изменить</a> |
                        <a asp-controller="ModelOfMachines" class="btn btn-info" asp-action="Details" asp-route-id="@item.ModelOfMachineID">Подробнее</a> |
                        <a asp-controller="ModelOfMachines" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ModelOfMachineID">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

