﻿@model SystemRepairWeb.Models.TypeOfMachine

@{
    ViewData["Title"] = "Изменить тип оборудования";
}

<h2>Редактирование</h2>

<h4>Тип оборудования</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeOfMachineID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupOfMachineID" class="control-label">Группа</label>
                <select asp-for="GroupOfMachineID" class="form-control" asp-items="ViewBag.GroupOfMachineID"></select>
                <span asp-validation-for="GroupOfMachineID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>

