﻿@model IEnumerable<SystemRepairWeb.Models.TypeOfMachine>

@{
    ViewData["Title"] = "Типы оборудования";
}

<h2>Типы оборудования</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Добавить новый тип</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Тип</th>
            <th>Группа</th>
            <th>Вид</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Sort.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.TypeOfMachineID">Изменить</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TypeOfMachineID">Подробнее</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TypeOfMachineID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
