﻿@model SystemRepairWeb.Models.ModelOfMachine

@{
    ViewData["Title"] = "Добавить модель";
}

<h2>Добавить</h2>

<h4>Модель оборудования</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfMachineID" class="control-label">Тип</label>
                <select asp-for="TypeOfMachineID" class ="form-control" asp-items="ViewBag.TypeOfMachineID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModelCNC" class="control-label">Модель ЧПУ</label>
                <input asp-for="ModelCNC" class="form-control" />
                <span asp-validation-for="ModelCNC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repairability" class="control-label">Ремонтосложность</label>
                <input asp-for="Repairability" class="form-control" />
                <span asp-validation-for="Repairability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label">Страна-изготовитель</label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>

