﻿@model SystemRepairWeb.Models.ModelOfMachine

@{
    ViewData["Title"] = "Удалить модель";
}

<h2>Удаление</h2>

<h3>Подтверждаете удаление?</h3>
<div>
    <h4>Модель оборудования</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Тип
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt>
            Модель ЧПУ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelCNC)
        </dd>
        <dt>
            Ремонтосложность
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Repairability)
        </dd>
        <dt>
            Страна-изготовитель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ModelOfMachineID" />
        <input class="btn btn-danger" type="submit" value="Удалить"/> |
        <a class="btn btn-default" asp-action="Index">К общему списку</a>
    </form>
</div>
