﻿@model SystemRepairWeb.Models.ModelOfMachine

@{
    ViewData["Title"] = "Модель оборудования";
}

<h2>Информация</h2>

<div>
    <h4>Модель оборудования</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Тип
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt>
            Модель ЧПУ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelCNC)
        </dd>
        <dt>
            Ремонтосложность
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Repairability)
        </dd>
        <dt>
            Страна-изготовитель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dd>
            <a asp-controller="Machines" asp-action="Create">Добавить экземпляр</a>
        </dd>
    </dl>
    <table class="table">
        <thead>
        <tr>
            <th>
                Модель
            </th>
            <th>
                Цех
            </th>
            <th>
                Инвентарный номер
            </th>
            <th>
                Дата ввода в эксплуатацию
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Machines) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.WorkshopNameNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    <a asp-controller="Machines" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.MachineID">Изменить</a> |
                    <a asp-controller="Machines" class="btn btn-info" asp-action="Details" asp-route-id="@item.MachineID">Подробнее</a> |
                    <a asp-controller="Machines" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MachineID">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ModelOfMachineID">Изменить</a> |
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>
