﻿<!--<!doctype html>
<html lang="ru">
<head>-->
<!-- Required meta tags 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
-->
<!-- Bootstrap CSS
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
-->
@model IEnumerable<SystemRepairWeb.Models.ModelOfMachine>

@{
    ViewData["Title"] = "Модели оборудования";
}
<!--</head>
<body>-->
<h2>Модели оборудования</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Добавить новую</a>
</p>
<form asp-controller="ModelOfMachines" asp-action="Index">
    <p>
        Поиск: <input type="text" name="SearchString">
        <!--<select asp-for="TypeOfMachine" asp-items="Model.Types">
            <option value="">Все</option>
        </select>
        <select asp-for="Country" asp-items="Model.Countries">
            <option value="">Все</option>
        </select>-->
        <select size="1" name="CNCcontrol">
            <option disabled>Наличие ЧПУ</option>
            <option value="Все">Все</option>
            <option value="Нет">Нет ЧПУ</option>
            <option value="Есть">Есть ЧПУ</option>
        </select>
        <input type="submit" value="Найти" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Модель
            </th>
            <th>
                Тип
            </th>
            <th>
                Модель ЧПУ
            </th>
            <th>
                Ремонтосложность
            </th>
            <th>
                Страна-изготовитель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelCNC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repairability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ModelOfMachineID">Изменить</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ModelOfMachineID">Подробнее</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ModelOfMachineID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>-->
