﻿@model SystemRepairWeb.Models.SortOfMachine

@{
    ViewData["Title"] = "Удалить вид оборудования";
}

<h2>Удаление</h2>

<h3>Подтверждаете удаление?</h3>
<div>
    <h4>Вид оборудования</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form class="btn btn-danger" asp-action="Delete" asp-controller ="SortOfMachines">
        <input type="hidden" asp-for="SortOfMachineID" />
        <input class="btn btn-danger" type="submit" value="Удалить"/> |
        <a class="btn btn-default" asp-action="Index">К общему списку</a>
    </form>
</div>
