﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SystemRepairWeb</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="ModelOfMachines" asp-action="Index" class="navbar-brand">SystemRepairWeb</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <!--<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workshops" asp-action="Index">Цехи</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Оборудование
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuMachines">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="SortOfMachines" asp-action="Index">Виды</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="GroupOfMachines" asp-action="Index">Группы</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="TypeOfMachines" asp-action="Index">Типы</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="ModelOfMachines" asp-action="Index">Модели</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Machines" asp-action="Index">Экземпляры</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuConsumables" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Расходные материалы
                                </a>
                                <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Oils" asp-action="Index">Масла</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Coolants" asp-action="Index">СОЖ</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="SpareParts" asp-action="Index">Запчасти</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuRepairs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ремонты
                                </a>
                                <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Repairs" asp-action="Index">График</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="TypeOfRepairs" asp-action="Index">Типы</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="MonthlyAllotments" asp-action="Index">График работ</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Пользователи</a>
                        </li>
                        <!--<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>-->
                    </ul>

                </div>
            </div>
        </nav>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2019 - SystemRepairWeb</p>
            </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
    </html>
