﻿@model SystemRepairWeb.Models.User

@{
    ViewData["Title"] = "Информация о пользователе";
}

<h2>Информация о пользователе</h2>

<div>
    <h4>Пользователь</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.UserID">Изменить</a> |
    <a class="btn btn-default" asp-action="Index">К общему списку</a>
</div>
