﻿@model IEnumerable<SystemRepairWeb.Models.User>

@{
    ViewData["Title"] = "Пользователи";
}

<h2>Список пользователей</h2>

<p>
    <a asp-action="Register">Добавить нового пользователя</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Роль</th>
        <th>E-mail</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.UserID">Изменить</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.UserID">Подробнее</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserID">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>